@charset "UTF-8";

body{
    background-color: rgb(245, 254, 255);
}

#conteudo{
    padding-top: 4.7rem;
    max-width: 100vw;
    overflow: hidden;
}

.bg-nav{
    background-color: rgba(0, 0, 0, .5);
}


.video-player-container{
    position: relative;
    height: 89vh;
    width: 100vw;
    overflow: hidden;
}

.bg-video{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

.h1-Jm{
    background: -webkit-linear-gradient(left,rgb(255, 182, 182), rgb(255, 110, 11), rgb(255, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: transparent;
    font-weight: bolder;
    font-size: 250%;
}

#img-logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.card-motivos:hover{
    padding-left: .5rem;
    transition: .3s;
}

.bg-black{
    background-color: black;
}


.icon{
    border-radius: 50%;
}

.text-red{
    color: rgb(250, 85, 85);
}

.img-sobre{
    height: 30rem;
    background-image: url('https://cdn.pixabay.com/photo/2021/05/27/18/15/motorcycle-6288958_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

a:hover{
    color: brown;
}

.test-social-media{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.hidden-text{
    opacity: 0;
    transform: translateY(40%);
    transition: all 1.5s;
}

.show-text{
    transform: translateY(0%);
    opacity: 1;
}

.hidden-icons{
    opacity: 0;
    transition: .6s;
}

.show-icons{
    opacity: 1;
}

.hidden-left-to-right{
    opacity: 0;
    transform: translateX(-50%);
    transition: 3s;
}

.show-left-to-right{
    opacity: 1;
    transform: translateX(0%);
}

.show-on-video-end{
    animation: wait-to-show 7s;
}

@keyframes wait-to-show{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    80%{
        opacity: 0;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
