.imgPaisagem{
    background-image: url('../../img&videos/paisagem.jpeg');
    width: 30em;
    height: 39.9em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video__player__container{
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

.bg--video{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}