header{
    width: 100vw;
    background-color: black;
    color: #edf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    padding: 0 2%;
    top: 0;
    position: fixed;
    z-index: 100;
}

header a{
    text-decoration: none;
}

.logo{
    margin-right: 1em;
    margin-left: 2em;
    max-width: 3em;
}

.nav__dropdown{
    margin-right: 2em;
    justify-self: end;
    display: inline-block;
}

.nav__dropdown__list{
    right: 2em;
    padding: 1em;
    display: none;
    background-color: black;
    border-radius: 0 0 .3em .3em;
    transition: 1s;
}

.nav__dropdown__list li{
    text-align: center;
    padding: .2em 0;
    border-bottom: 1px rgba(255, 255, 255, 0.4);
    border-style: groove;
}

.nav__dropdown__list li a{
    color: white;
}

.nav--show--dropdown--items .nav__dropdown__list{
    position: absolute;
    display: block;
    animation: NavDropdown .4s;
}

@keyframes NavDropdown {
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.nav__icons, .nav__links{
    margin: auto;
    display: none;
}

.nav__links{
    margin-right: 2em;
}

.nav__icons li a, .nav__links li a{
    color: white;
}

.nav__links li{
    display: inline-block;
}

.nav__icons li{
    display: inline-block;
    margin: 0 .5em;
}

@media all and (min-width: 576px) {
    .nav__links{
        display: block;
    }

    .nav__dropdown{
        display: none;
    }
}

@media all and (min-width: 992px) {
    .nav__icons {
        display: block;
    }
}